* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header__content h1 {
  font-size: 50px;
}

/* Main Preloader Code {Copy Code}*/
#preloader {
  background: #000 url(img/preloader.gif) no-repeat center center;
  background-size: 15%;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 99;
}
